/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |GENERAL|                                                               │
  └─────────────────────────────────────────────────────────────────────────┘
 */
@font-face {
    src: url(../fonts/GoshaSansRegular.woff2);
    font-family: "GoshaSansRegular";
}
@font-face {
    src: url(../fonts/pixeboy.woff2);
    font-family: "PixeBoy";
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: #fffce8;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |Nav|                                                                   │
  └─────────────────────────────────────────────────────────────────────────┘
 */
/* 
  ┌────────────────────────────────────────────────────────────────────────────┐
  │ TODO:                                                                      │
  │ #nav-item3:active {                                                        │
  │     font-family: MAKE PIXELATED;                                           │
  │     transform: IDK DO SUMN DIF                                             │
  │ }                                                                          │
  └────────────────────────────────────────────────────────────────────────────┘
 */
.links a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    text-shadow: 0px 0px 8px chartreuse;
    transition: all 0.5s ease-in-out;
}
.links a:hover {
    color: chartreuse;
    font-size: 2.7rem;
    text-shadow: 0px 0px 7px black;
}
.links li {
    list-style: none;
    transition: all 0.1s ease-out;
}
.links li:active,
footer a:active {
    transform: rotate(360deg)
}
#logomain {
    align-items: center;
    background-image: linear-gradient(transparent, #fffce8), url('../images/cloudsabove.gif');
    background-size: cover;
    display: flex;
    height: 133px;
    justify-content: center;
    width: 100%;
}
#logomain img {
    height: 77%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#logomain img:hover {
    opacity: 77%;
    transform: scale(1.3);
}
nav ul {
    display: flex;
    font-size: 2.2rem;
    gap: 44px;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
#nav-item3 a:hover {
    color: #cc3333;
    font-size: 3rem;
    text-shadow: 0px 0px 15px rgb(116, 7, 7);
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |TEMP SECTION|                                                          │
  └─────────────────────────────────────────────────────────────────────────┘
 */
#cloudsbelow {
    height: 333px;
    width: 100%;
}
figcaption {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
#midlogo {
    display: flex;
    justify-content: center;
    height: 333px;
    margin: 0;
    margin-top: -333px;
    transition: all 3s ease-in-out;
}
#midlogo:hover {
    transform: scale(1.5) rotate(720deg);
}
#musicplayer {
    color: chartreuse;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 1.8rem;
    gap: 11px;
    margin-top: 133px;
    opacity: 80%;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}
.temp_section {
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    margin-top: 88px;
}
.temp_section h2 {
    margin-bottom: 88px;
    color: black;
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |FOOTER|                                                                │
  └─────────────────────────────────────────────────────────────────────────┘
 */
footer {
    background-color: #fffce8;
    color: black;
    font-weight: 200;
    padding-top: 15px;
    text-align: center;
    transition: color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
footer:active{
    transform: rotate(180deg);
}
footer:hover {
    background-color: black;
    color: chartreuse;
    text-shadow: 0px 0px 11px #fffce8;
}
footer a{
    color: #fffce8;
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    transition: all 1.8s ease-in-out;
}
footer a:hover{
    color: skyblue;
    text-shadow: 0px 0px 15px #fffce8;
}
footer p {
    font-size: 1.4rem;
    margin: 0;
}