@font-face {
    src: url(../fonts/GoshaSansRegular.woff2);
    font-family: "GoshaSansRegular";
}
@font-face {
    src: url(../fonts/pixeboy.woff2);
    font-family: "PixeBoy";
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: #fffce8;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}

/* nav start  */

.links li {
    list-style: none;
    transition: all 0.1s ease-out;
}
.links li:active,
footer a:active {
   transform: rotate(360deg)
}
.links a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    text-shadow: 0px 0px 8px chartreuse;
    transition: all 0.5s ease-in-out;
}
.links a:hover {
    color: chartreuse;
    font-size: 2.7rem;
    text-shadow: 0px 0px 7px black;
}
#logomain {
    align-items: center;
    background-image: linear-gradient(transparent, #fffce8), url('../imgs/cloudsabove.gif');
    background-size: cover;
    display: flex;
    height: 133px;
    justify-content: center;
    width: 100%;
}
#logomain img {
    height: 77%;
    transition: all 0.3s ease-in-out;
}
#logomain img:hover {
    opacity: 77%;
    transform: scale(1.3);
}
nav ul {
    display: flex;
    font-size: 2.2rem;
    gap: 44px;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
#nav-item3 a:hover {
    color: #cc3333;
    font-size: 3rem;
    text-shadow: 0px 0px 15px rgb(116, 7, 7);
}

/* nav end */

/* hoodie section for shop START */

.hoodie_clr_sel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-top: 10rem;
}
.hoodie_clr_sel_RIGHT {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
}
.hoodie_clr_sel_LEFT {
}
.hoodie_clr_sel_RIGHT > h3 {
    background: url('../imgs/cloudsabove.gif');
    background-size: cover;
    box-shadow: inset 0 0 22px #fffce8, 0 0 33px chartreuse;
    border-radius: 13rem;
    color: chartreuse;
    font-family: "pixeboy";
    font-size: 4rem;
    margin: 0;
    padding: 1.8rem;
    text-shadow: 0 3px 8px black
}
.hoodie_clr_sel_RIGHT > h4 {
    font-size: 1.7rem;
    margin: 0;
}
#cloud_hoodie_subheader {
    align-items: flex-end;
    color: #633e1a;
    font-size: 2.4rem;
    justify-content: space-between;
    margin-top: 2rem;
    transition: all 1s ease-in-out;
}
#whole_level {
    align-items: center;
    border-radius: 20px;
    color: red;
    display: flex;
    font-family: "PixeBoy";
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 0 10.5rem;
    position: relative;
    text-shadow: 0 3px 3.3px black;
    transition: all 0.5s ease-in;
}
#whole_level:hover {
    color: #01FFF4;
    margin-bottom: 0rem;
    text-shadow: 0 3px 3.3px red;
    transform: scale(1.1);
}
#level_semicolon {
    color: #633e1a;
    font-size: 4.3rem;
    font-weight: bold;
    margin: -0.3rem 0.8rem 0 0.8rem;
}
#level_num {
    color: rgb(77, 33, 155);
    font-size: 5rem;
    margin-top: 0.3rem;
    text-shadow: 0 3px 2px white;
    transition: all 1s ease-in-out;
}
#timelessArtifact {
    color: #ffffff;
    font-size: 1.7rem;
    position: absolute;
    right: 6.1rem;
    text-shadow: 0 0 0.5rem black;
    top: 12.8rem;
    transition: all 0.7s ease-in-out;
}
#timelessArtifact:hover {
    color: cyan;
    font-weight: bold;
    margin: 0 -0.8rem 0 0;
    text-shadow: 0 0px 4px black;
    transform: scale(1.03);
}
#level_num:hover {
        text-shadow: 0 3px 3.3px red;
}
#price_row {
    display: flex;
    justify-content: space-between;
    margin: -1.5rem 0 0 0;
    width: 100%;
}
#price {
    font-family: "pixeboy";
    font-size: 5.5rem;
    margin: 0.5rem 0 0 0;
    text-shadow: 0 0 2px red;
}
#level_icon::before {
    border: 88px ridge rgb(77, 33, 155);
    border-radius: 1000px;
    bottom: 18.6rem;
    box-shadow: inset 0 0 20rem rgb(109, 4, 150);
    content: url(/imgs/c.gif);
    padding: 0.3rem;
    position: absolute;
    right: -27.4rem;
    transform: scale(0.09);
    transition: scale, rotate, 3.3s ease-in-out;
}
#level_icon:hover:before {
    border: 3px ridge rgb(77, 33, 155);
    bottom: 8rem;
    right: 51.5rem;
    transform: scale(1.6) rotate(720deg);
    /* opacity: 0%; */
    z-index: 1;
}
#cloud_soft {
    display: flex;
    font-size: 1.3rem;
    justify-content: flex-end;
    margin: 0.5rem 0 0 0;
}
#hoodie_ul{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono';
    list-style-type: '\1F4AD';
    margin-left: 0.5rem;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    width: 50%
}
#hoodie_ul:hover {
    transform: scale(1.125);
}
.hoodie_des_list_item {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    text-shadow: 0 0 25px chartreuse;
}
#cloud_span:hover {
    transform: scale(1.5);
}
#color_box {
    border: none;
    font-size: 2.3rem;
    margin: 2rem 0 0 13rem;
    position: relative;
}
#color_box_span:before {
    content: url(/imgs/size_cloud.gif);
    left: -3.8rem;
    opacity: 55%;
    position: absolute;
    top: -3.5rem;
    transform: scale(1.5);
    z-index: 0;
}
#scent_box {
    align-items: center;
    background: linear-gradient(to bottom, #fffce8, white, skyblue);
    border: 3px ridge silver;
    border-radius: 10rem;
    box-shadow: inset 0 0 10px chartreuse;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    font-weight: bold;
    left: 25rem;
    list-style-type: none;
    padding: 1.3rem 0 0rem 1.3rem;
    padding-left: 1rem;
    position: absolute;
    text-shadow: 0 0 25px chartreuse;
    top: 14.5rem;
    transition: all 0.5s ease-in-out;
    width: 18rem;
}
#scent_box:hover {
    transform: scale(1.08);
}
#scent_des {
    font-size: 1.4rem;
}
#twk_scentbox {
    background: linear-gradient(to bottom, #fffce8, white, #fffce8);
    border: 3px ridge silver;
    border-radius: 10px;
    color: rgb(0, 255, 255);
    font-family: "GoshaSansRegular";
    font-size: 2.2rem;
    text-shadow: 0 0 4px red;
}
#vanilla_select {
    background: linear-gradient(to bottom,#fffce8, white, skyblue);
    border: 1px ridge silver;
    border-radius: 20px;
    box-shadow: 0px 3px 5px red;
    font-family: "GoshaSansRegular";
    font-size: 1.4;
    height: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 0.8rem;
    padding: 0 5rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
    width: max-content;
}
#vanilla_select:hover {
    box-shadow: 0px 3px 8px red;
    transform: scale(1.3);
}
.color_opt {
    gap: 1.3rem;
    align-items: center;
    color: #633e1a;
    display: flex;
    display: flex;
    position: relative;
    text-shadow: 0 0 1px red;
    z-index: 1;
}
#color_box_legend {
    color: #633e1a;
    font-size: 2.7rem;
    font-weight: bold;
    margin-left: 3.8rem;
    position: relative;
    text-shadow: 0 0 2px red;
    transition: all 0.4s ease-in;
    z-index: 1;
}
#color_box_legend:hover {
    text-shadow: 0 0 5px red;
    transform: rotate(720deg) scale(2);
}
/* make id for below? */
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fffce8;
    border: 2px solid chartreuse;
    border-radius: 1.6rem;
    box-shadow: 0 0 3px #633e1a;
    height: 1.3rem;
    outline: none;
    transform: scale(1.8);
    width: 1.3rem;
}
input[type="radio"]::before {
    background-color: chartreuse;
    border-radius: 10px;
    content: " ";
    display: block;
    font-size: 1.2em;
    height: 1rem;
    transform: translate(0px, -3px) scale(0.0);
    transform-origin: center;
    transition: all 0.7s ease-in;
    width: 1rem;
}
input[type="radio"]:checked::before {
    background-color: #633e1a;
    border-radius: 10px;
    content: "";
    display: block;
    font-size: 1.2em;
    height: 0.9rem;
    transform: translate(-0.5px, -0.5px) scale(0.8);
    transform-origin: center;
    transition: all 0.8s ease-in;
    width: 0.9rem;
}
input[type="radio"]:indeterminate {
    animation: 0.4s linear infinite alternate border-pulse;
    border: 2px solid chartreuse;
}
input[type="radio"]:checked {
    animation: 0.2s linear infinite alternate border-pulse;
    border: 2px solid chartreuse;
    box-shadow: 0 0 6px #633e1a;
}
@keyframes border-pulse {
    from {
        border: 1.3px solid red;
    }

    to {
        border: 3.3px solid chartreuse;
    }
}
#size_input {
    background: linear-gradient(to bottom, white, #fffce8);
    border: 2px groove silver;
    border-radius: 33px;
    color: #633e1a;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0px 0.8rem;
    text-shadow: 0 0 2px red;
}
#cart_add_btn {
    background: linear-gradient(to bottom, #fffce8, wheat);
    border: 2px groove silver;
    border-radius: 30px;
    height: 3rem;
    padding: 0 0.8rem;

}
#cart_add_btn > a {
    color: #633e1a;
    font-family: 'GoshaSansRegular';
    font-size: 1.8rem;
    text-decoration: none;
}
#send_2_moon {
    gap: 5rem;
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    margin: 1rem 0 0 2rem;
}

/* #nav-item3:active {
    font-family: MAKE PIXELATED;
    transform: IDK DO SUMN DIF

} */
.temp_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 88px;
}
.temp_section h2{
    color: black;
    margin-bottom: 88px;
}
#cloudsbelow {
    height: 333px;
    width: 100%;
}
#midlogo {
    display: flex;
    height: 333px;
    justify-content: center;
    margin: 0;
    margin-top: -333px;
    transition: all 3s ease-in-out;
}
#midlogo:hover {
    transform: scale(1.5)
               rotate(720deg);
}
figcaption {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
#musicplayer {
    gap: 11px;
    color: chartreuse;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: 133px;
    opacity: 80%;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}
footer {
    background-color: #fffce8;
    color: black;
    font-weight: 200;
    padding-top: 15px;
    text-align: center;
    transition: color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
footer:active{
    transform: rotate(180deg);
}
footer:hover {
    background-color: black;
    color: chartreuse;
    text-shadow: 0px 0px 11px #fffce8;
}
footer a{
    color: #fffce8;
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    transition: all 1.8s ease-in-out;
}
footer a:hover{
    color: skyblue;
    text-shadow: 0px 0px 15px #fffce8;
}
footer p {
    font-size: 1.4rem;
    margin: 0;
}
