/* 
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ Put scent thing in div and flex row dat sh*t in                          │
  │ a container with the hoodie ul                                           │
  └─────────────────────────────────────────────────────────────────────────────┘
 */

@font-face {
    font-family: "GoshaSansRegular";
    src: url(../fonts/GoshaSansRegular.woff2);
}
@font-face {
    font-family: "PixeBoy";
    src: url(../fonts/pixeboy.woff2);
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;

    /*Set the root HTML font-size as a percentage. 
    That’s a percentage of the user’s default browser 
    font-size. A typical method is to set the HTML 
    font-size to 62.5%. That’s because 62.5% of 16px 
    (typical default browser font-size) is 10px. 
    That would still make 1.6rem = 16px. 
    This now means that if the user’s default browser 
    font-size is changed to, for example, 20px, 
    1.6rem would now equal 20px. So if your user wants 
    bigger fonts, let them. Happy designer. Happy 
    developer. All numbers are still easy to work with. */
}
body{
    background-color: #fffce8;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}
#logomain {
    align-items: center;
    background-image: linear-gradient(transparent, #fffce8), url('../imgs/cloudsabove.gif');
    background-size: cover;
    display: flex;
    width: 100%;
    height: 133px;
    justify-content: center;
}
#logomain img {
    height: 77%;
    transition: all 0.3s ease-in-out;
}
#logomain img:hover {
    transform: scale(1.3);
    opacity: 77%;
}
nav ul {
    display: flex;
    font-size: 2.2rem;
    gap: 44px;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.links a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    text-shadow: 0px 0px 8px chartreuse;
}
.links a:hover {
    color: chartreuse;  
    font-size: 2.7rem;
    text-shadow: 0px 0px 7px black;
}
#nav-item3 a:hover {
    color: #cc3333;
    font-size: 3rem;
    text-shadow: 0px 0px 15px rgb(116, 7, 7);
}
.links li {
    list-style: none; 
    transition: all 0.1s ease-out;
}
.links li:active,
footer a:active {
   transform: rotate(360deg)
}

/* hoodie section for shop START */
.hoodie_clr_sel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-top: 10rem;
}
.hoodie_clr_sel_RIGHT {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: relative;
}
.hoodie_clr_sel_RIGHT > h3 {
    font-size: 4rem;
    font-family: "pixeboy";
    color: chartreuse;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0 3px 8px black;
    margin: 0
}
.hoodie_clr_sel_RIGHT > h4 {
    font-size: 1.7rem;
    margin: 0;
}
#cloud_hoodie_subheader {
    color: #633e1a;
    margin-top: 2rem;
    font-size: 2.4rem;
    align-items: flex-end;
    justify-content: space-between;
    transition: all 1s ease-in-out;
}
#whole_level {
    position: relative;
    align-items: center;
    border-radius: 20px;
    color: red;
    display: flex;
    font-family: "PixeBoy";
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 0 6.2rem;
    text-shadow: 0 3px 3.3px black;
    transition: all 0.5s ease-in;
}
#whole_level:hover {
    color: #01FFF4;
    text-shadow: 0 3px 3.3px red;
    margin-bottom: 0rem;
    transform: scale(1.1);
}
#level_semicolon {
    color: #633e1a;
    margin: -0.3rem 0.8rem 0 0.8rem;
    font-weight: bold;
    font-size: 4.3rem;
}
#level_num {
    color: rgb(77, 33, 155);
    font-size: 5rem;
    text-shadow: 0 3px 2px white;
    margin-top: 0.3rem; 
    transition: all 1s ease-in-out; 
}
#timelessArtifact {
    position: absolute;
    font-size: 1.7rem;
    color: #ffffff;
    top: 10rem;
    right: 7rem;
    text-shadow: 0 0 0.5rem black;
    transition: all 0.7s ease-in-out;
}
#timelessArtifact:hover {
    color: cyan;
    font-weight: bold;
    margin: 0 -0.8rem 0 0;
    transform: scale(1.1);
    text-shadow: 0 0px 4px black;
}
#level_num:hover {
        text-shadow: 0 3px 3.3px red;
}
#price_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: -1.7rem 0 0 0;
}
#price {
    margin: 0.5rem 0 0 0;
    font-family: "pixeboy";
    font-size: 5.5rem;
    text-shadow: 0 0 2px red;
}
#level_icon:before {
    position: absolute;
    content: url(/imgs/c.gif);
    transform: scale(0.09);
    bottom: 34.8rem;
    right: -26.5rem;    
    border: 88px ridge rgb(77, 33, 155);
    padding: 0.3rem;
    border-radius: 1000px;
    box-shadow: inset 0 0 20rem rgb(109, 4, 150);
    transition: scale, rotate, 3.3s ease-in-out;
}
#level_icon:hover:before {
    transform: scale(1.6) rotate(720deg);
    border: 3px ridge rgb(77, 33, 155);
    right: 50.5rem;
    bottom: 22.8rem;
    opacity: 0%;
    z-index: 1;
}
#cloud_soft {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 0 0;
    font-size: 1.3rem;
}
#hoodie_ul{
    display: flex;
    margin-left: 0.5rem;
    flex-direction: column;
    font-family: 'Roboto Mono';
    list-style-type: '\1F4AD';
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    width: 50%;

}
#hoodie_ul:hover {
    transform: scale(1.125);
}
#list_and_scent {
    display: flex;
    justify-content: center;
    
}
.hoodie_des_list_item {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 25px chartreuse;
    padding-left: 1rem;
}
#cloud_span:hover {
    transform: scale(1.5);
}
#color_box {
    position: relative;
    border: none;
    margin: 2rem 0 0 13rem;
    font-size: 2.3rem;
}
#color_box_span:before {
    position: absolute;
    content: url(/imgs/size_cloud.gif);
    opacity: 55%;
    transform: scale(1.5);
    top: -3.5rem;
    left: -3.8rem;
    z-index: 0;
}
#scent_box {
    background: linear-gradient(to bottom, #fffce8, white, skyblue);
    border-radius: 10rem;
    border: 3px ridge silver;
    box-shadow: inset 0 0 10px chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    list-style-type: none;
    padding-left: 1rem;
    padding: 1.3rem 0 0rem 1.3rem;
    text-shadow: 0 0 25px chartreuse;
    width: 50%;
    /* width makes scent_box more round */
    transition: all 0.5s ease-in-out;
}
#scent_box:hover {
    transform: scale(1.08);
}
#scent_des {
    font-size: 1.4rem;
}
#twk_scentbox {
    font-family: "GoshaSansRegular";
    background: linear-gradient(to bottom, #fffce8, white, #fffce8);
    border-radius: 10px;
    color: rgb(0, 255, 255);
    font-size: 2.2rem;
    text-shadow: 0 0 4px red;
}
#vanilla_select {
    background: linear-gradient(to bottom,#fffce8, white, skyblue);
    border: 1px ridge silver;
    border-radius: 20px;
    font-family: "GoshaSansRegular";
    font-size: 1.4;
    text-align: center;    
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    width: max-content;
    height: 2.2rem;
    padding: 0 5rem;
    box-shadow: 0px 3px 5px red;
    transition: all 0.5s ease-in-out;
}
#vanilla_select:hover {
    transform: scale(1.3);
    box-shadow: 0px 3px 8px red;
}
.color_opt {
    color: #633e1a;
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    text-shadow: 0 0 1px red;
    z-index: 1;
}
#color_box_legend {
    color: #633e1a;
    position: relative;
    z-index: 1;
    margin-left: 3.8rem;
    font-weight: bold;
    font-size: 2.7rem;
    text-shadow: 0 0 2px red;
    transition: all 0.4s ease-in;
}
#color_box_legend:hover {
    transform: rotate(720deg) scale(2);
    text-shadow: 0 0 5px red;
}
/* make id for below? */
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fffce8;
    border-radius: 1.6rem;
    border: 2px solid chartreuse;
    box-shadow: 0 0 3px #633e1a;
    height: 1.3rem;
    outline: none;
    transform: scale(1.8);
    width: 1.3rem;
}
input[type="radio"]::before {
    background-color: chartreuse;
    border-radius: 10px;
    content: " ";
    display: block;
    font-size: 1.2em;
    height: 1rem;
    transform-origin: center;
    transform: translate(0px, -3px) scale(0.0);
    transition: all 0.7s ease-in;
    width: 1rem;
}
input[type="radio"]:checked::before {
    display: block;
    content: "";
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 10px;
    background-color: #633e1a;
    font-size: 1.2em;
    transform: translate(-0.5px, -0.5px) scale(0.8);
    transform-origin: center;
    transition: all 0.8s ease-in;
}
input[type="radio"]:indeterminate {
    border: 2px solid chartreuse;
    animation: 0.4s linear infinite alternate border-pulse;
}
input[type="radio"]:checked {
    box-shadow: 0 0 6px #633e1a;
    border: 2px solid chartreuse;
    animation: 0.2s linear infinite alternate border-pulse;
}
@keyframes border-pulse {
    from {
        border: 1.3px solid red;
    }

    to {
        border: 3.3px solid chartreuse;
    }
}
#size_input {
    background: linear-gradient(to bottom, white, #fffce8);
    border: 2px groove silver;
    color: #633e1a;
    border-radius: 33px;
    padding: 0px 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 0 0 2px red;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
#cart_add_btn {
    background: linear-gradient(to bottom, #fffce8, wheat);
    padding: 0 0.8rem;
    border: 2px groove silver;
    border-radius: 30px;
    height: 3rem;
  
}
#cart_add_btn > a {
    text-decoration: none;
    font-family: 'GoshaSansRegular';
    color: #633e1a;
    font-size: 1.8rem;   
}
#send_2_moon {
    display: flex;
    margin: 1rem 0 0 2rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 6rem;
}
/* hoodie section for shop END */

/* #nav-item3:active {
    font-family: MAKE PIXELATED;
    transform: IDK DO SUMN DIF

} */
.temp_section {
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    margin-top: 88px;
}
.temp_section h2{
    margin-bottom: 88px;
    color: black;
}
#cloudsbelow {
    height: 333px;
    width: 100%;
}
#midlogo {
    display: flex;
    justify-content: center;
    height: 333px;
    margin: 0;
    margin-top: -333px;
    transition: all 3s ease-in-out;
}
#midlogo:hover {
    transform: scale(1.5) 
               rotate(720deg);
}
figcaption {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
#musicplayer {
    color: chartreuse;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 1.8rem;
    gap: 11px;
    margin-top: 133px;
    opacity: 80%;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}
footer {
    background-color: #fffce8;
    color: black;
    font-weight: 200;
    padding-top: 15px;
    text-align: center;
    transition: color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
footer:active{
    transform: rotate(180deg);
}
footer:hover {
    background-color: black;
    color: chartreuse;
    text-shadow: 0px 0px 11px #fffce8;
}
footer a{
    color: #fffce8;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 1.8s ease-in-out;
}
footer a:hover{
    color: skyblue;
    text-shadow: 0px 0px 15px #fffce8;
}
footer p {
    font-size: 1.4rem;
    margin: 0;
}