@font-face {
    font-family: "GoshaSansRegular";
    src: url(fonts/GoshaSansRegular.woff2);
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    /*Set the root HTML font-size as a percentage. 
    That’s a percentage of the user’s default browser 
    font-size. A typical method is to set the HTML 
    font-size to 62.5%. That’s because 62.5% of 16px 
    (typical default browser font-size) is 10px. 
    That would still make 1.6rem = 16px. 
    This now means that if the user’s default browser 
    font-size is changed to, for example, 20px, 
    1.6rem would now equal 20px. So if your user wants 
    bigger fonts, let them. Happy designer. Happy 
    developer. All numbers are still easy to work with. */
}

body{
    background-color: #fffce8;
    display: flex;
    flex-direction: column;
    font-family: 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
}

#logomain {
    align-items: center;
    background-image: linear-gradient(transparent, #fffce8), url('imgs/cloudsabove.gif');
    background-size: cover;
    display: flex;
    width: 100%;
    height: 133px;
    justify-content: center;
}

#logomain img {
    height: 77%;
    transition: all 0.3s ease-in-out;
}

#logomain img:hover {
    transform: scale(1.3);
    opacity: 77%;
}

nav ul {
    display: flex;
    font-size: 2.2rem;
    gap: 44px;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.links a {
    color: black;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    text-shadow: 0px 0px 8px chartreuse;
}

.links a:hover {
    color: chartreuse;  
    font-size: 2.7rem;
    text-shadow: 0px 0px 7px black;
}

#nav-item3 a:hover {
    color: #cc3333;
    font-size: 3rem;
    text-shadow: 0px 0px 15px rgb(116, 7, 7);
}

.links li {
    list-style: none; 
    transition: all 0.1s ease-out;
}

.links li:active,
footer a:active {
   transform: rotate(360deg)
}

/* #nav-item3:active {
    font-family: MAKE PIXELATED;
    transform: IDK DO SUMN DIF

} */

section {
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    margin-top: 88px;
}

section h2{
    margin-bottom: 88px;
}

#cloudsbelow {
    height: 333px;
    width: 100%;
}

#midlogo {
    display: flex;
    justify-content: center;
    height: 333px;
    margin: 0;
    margin-top: -333px;
    transition: all 3s ease-in-out;
}

#midlogo:hover {
    transform: scale(1.5) 
               rotate(720deg);
}

figcaption {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

#musicplayer {
    color: chartreuse;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 1.8rem;
    gap: 11px;
    margin-top: 133px;
    opacity: 80%;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

footer {
    background-color: #fffce8;
    color: black;
    font-weight: 200;
    padding-top: 15px;
    text-align: center;
    transition: color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

footer:active{
    transform: rotate(180deg);
}

footer:hover {
    background-color: black;
    color: chartreuse;
    text-shadow: 0px 0px 11px #fffce8;
}

footer a{
    color: #fffce8;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 1.8s ease-in-out;
}

footer a:hover{
    color: skyblue;
    text-shadow: 0px 0px 15px #fffce8;
}

footer p {
    font-size: 1.4rem;
    margin: 0;
}